*{
	margin: 0;
	padding: 0;
}
body{
	font-family: '微软雅黑';
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}




/*头部*/
.top{
	width: 100%;
	height: 285px;
	border-bottom:7px solid #d80c18;
}
.top1{
	width: 100%;
	background: white;
	position: fixed;
	left: 0;
	top: 0;
}
.top1 img{
	float: left;
}
.top1 ul{
	float: right;
}
.top1 ul li{
	float: left;
	display: inline-block;
	height: auto;
	font-size: 15px;
	padding:36px 25px;
}
.top_a{
	color: #1e1e1e;
}	
.gy{
	width: 60px;
	/*height: 92px;*/
	display: block;
	position: relative;
}
.secondDiv{
	display: none;
	position: absolute;
	left: 0;
	top: 92px;
	width: 110px;
	height: auto;
	line-height: none;
}
.secondDiv a{
	display: inline-block;
	margin-top:3px; 
	height: 26px;
	width: 110px;
	text-align: center;
	line-height: 26px;
	color: #1e1e1e;
	background:#cfd0d2;
	font-size: 14px;
}
.top2{
	margin-top:92px; 
	width: 100%;
	/*height: 285px;*/
}
.top2 img{
	width: 100%;
	height: 285px;
}



/*头部*/





/*中间部分*/
.middle{
	width: 100%;
	height: 1814px;
	background: url(../img/福利与文化1.png);
}
.middle1{
	width: 100%;
	text-align: center;
	padding: 92px 0 64px 0;
}
.middle1 span{
	font-size: 30px;
	color: #d80c18;
	padding:0 30px;
	vertical-align: middle;
}
.middle2{
	background: url(../img/福利与文化2.png);
	margin-left: 151px;
	width: 1069px;
	/*border-bottom: 5px #cbcbcc dotted;*/
}
.middle2_div1{
	float: left;
	width: 188px;
	margin-left: 98px;
	margin-bottom: 92px;
	margin-top: 90px;
}
.middle2_div2{
	float: left;
	margin-top: 114px;
	margin-left: 133px;
	width: 555px;
}
.middle2_div2_span1{
	display: inline-block;
	font-size: 20px;
	padding-bottom: 7px;
	width: 352px;
	border-bottom:2px solid #e8e8e8; 
	color: #595757;
}
.middle2_div2_p1{
	padding-top: 7px;
	font-size: 16px;
	line-height: 31px;
	color: #595757;
}

.middle3{
	background: url(../img/福利与文化3.png) no-repeat;
	width: 1069px;
	margin-left: 151px;
	margin-top: 45px;
	padding-bottom: 208px;
}
.middle3_div1{
	float: left;
	margin-top: 91px;
	margin-left: 52px;
	margin-bottom: 95px;
	width: 595px;
}
.middle3_div1_span1{
	display: inline-block;
	font-size: 20px;
	padding-bottom: 7px;
	width: 352px;
	border-bottom:2px solid #e8e8e8; 
	color: #595757;
}
.middle3_div1_p1{
	padding-top: 7px;
	font-size: 16px;
	line-height: 31px;
	color: #595757;
}
.middle3_div2{
	float: left;
	width:250px;
	margin-left: 72px;
	margin-top: 66px;
}
.middle3_div3{
	margin-left: 52px;
	padding-bottom: 91px;
}
.middle3_div3 .imgDiv{
	width:475px;
	float: left;
}
.middle3_div3 .imgDiv img{
	display: block;
	border:0;
}



.return1{
	position: fixed;
	border: none;
	display: none;
	bottom: 457px;
	right: 0;
}
/*中间部分*/






/*尾部*/
.bottom{
	width: 100%;
	height: 457px;
}
.bottom1{
	width: 100%;
	height: 168px;
	text-align: center;
	line-height: 168px;
}
.bottom1 span{
	font-size: 30px;
	color: #d80c18;
	padding:0 30px;
	vertical-align: middle;
}
.bottom2{
	width: 100%;
	height: 223px;
}
.bottom3{
	width: 100%;
	height: 66px;
	line-height: 66px;
	text-align: center;
	background: #e03d46;
	font-size: 20px;
	color: #f6d6d7;
}




/*尾部*/